body{
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;

}

.header{
    position: fixed;
    display: flex;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    align-items: center;
    background-color: black;
    margin-top: -8px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    height: 50px;
    padding-left: 10px;
    
    
}
.nav-container{
    text-decoration: underline;
    display: flex;
    justify-content:flex-end;
    width: 100%;
    margin-right: 20px;
}
.nav-item{
    padding-left: 20px;
}

.mission-container{
    position: relative;
    z-index: -1;
}
.mission-background{
    height: 700px;
    width: 1200px;
    align-items: center;
    margin-top: 62px;
}
.mission-banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    top: 350px;
    background-color: black;
    line-height: 1.5px;
    width: 1200px;
    margin-left: 344px;
}

.month-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    line-height: 1.5px;
}
.img-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1000px;
    margin:auto;
}

.tea-img{
    height: 200px;
    width: 300px;
}
.tea-names{
    padding-bottom: 15px;
    margin-top: 10px;
}
.thumbnail{

}

.banner{
    height: 500px;
    max-width: 1250px;
    margin: 40px auto auto auto;
    padding-top: 40px;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*14vf93r*_ga*MzkxOTE0MTk0MC4xNjYxNzc0MDQz*_ga_3LRZM6TM9L*MTY2NTQxMjk4Ni41NS4xLjE2NjU0MTMxMDkuMy4wLjA.');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-top{
    font-size: 43px;
    font-weight: bold;

}

.box-container{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin: 15px auto auto auto;
}

.box{
    height: 300px;
    padding: 20px;
    margin-bottom: auto;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: black;
    opacity: 0.9;
}

.contact{
    height: 200px;
}

footer{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}